/* Page  */
.contactContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-items: center;
  margin-bottom: 3rem;
}

.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.contactItem p {
  text-decoration: none;
}

/* section */
.sectionItem {
  width: 100%;
}

.sectionItem ul {
  padding-left: 1.5rem;
}

.sectionArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.sectionContent {
  min-width: 50%;
}

.heading1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* content styling */

.jobContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 0 3rem 1rem;
}

.educationItemContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 0 1rem 1rem;
}

.iconArea {
  padding-top: 2rem;
}

.descPeriod {
  opacity: 50%;
  margin-bottom: .5rem; 
  font-size: .9rem;
}

.descInstitution {
  margin-top: 0;
}

.descUlPoints {
  padding: 0 0 0 20px;
}

.educationDescriptionArea  p {
  margin: 0 0 .3rem 0;
}
