.AboutContainer h1 {
  border-bottom: 2px solid rgb(54, 54, 54);
  padding-bottom: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.AboutContainer h2 {
  margin-top: 1re;
}
.AboutContainer table {
  width: 100%;
}

.AboutContainer ul {
  padding-left: 1.5rem;
}

.AboutContainer th {
  text-align: left;
}

.AboutContainer a {
  font-style: italic;
}