.postMetaContainer {
  display: flex;
  flex-direction: row;
}

.postMetaContainer .metaSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}

.postMetaContainer .metaSection:nth-child(2) {
  text-align: end;
}

.postMetaContainer .postDate {
  font-style: italic;
  font-size: .9rem;
  margin: 0;
  opacity: 75%;
}

.postContent p {
  text-align: justify;
  line-height: 1.5rem;
}

.postContent img {
  width: 100%;
}

.postContent a {
  text-decoration: underline;
  color: blue;
}

.postContent pre code {
  display: block;
  padding: 1rem;
  width: 100%;
  overflow-x: scroll;
}