.postMetaContainer {
  display: flex;
  flex-direction: row;
}

.postMetaContainer .metaSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
}

.postMetaContainer .metaSection:nth-child(2) {
  text-align: end;
}

.postMetaContainer .postDate {
  font-style: italic;
  font-size: .9rem;
  margin: 0;
  opacity: 75%;
}

.postContent p {
  text-align: justify;
}

.postContent img {
  width: 100%;
}

.postContent code {
  text-align: justify;
}