html,
body {
  padding: 0;
  margin: 1rem auto 0 auto;
  font-family: 'Roboto', sans-serif;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.normalContainer {
  display: flex;
  flex-direction: column;
  width: 40rem;
  min-height: 80vh;
  margin-bottom: 20vh;
}

@media only screen and (max-width: 600px) {
  .normalContainer {
    width: 100vw;
    margin: 0 1rem 0 1rem;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.articleArea img {
  width: 100%;
  height: auto;


}
