.contactContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.contactContainer a {
  text-decoration: none;
}

.contactItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.contactItem div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.introSection {
  padding: 0;
}

.postSection {
  padding: 1rem 0 1rem 0;
}
