.articleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.articleRowSide {
  display: flex;
  flex-direction: row-reverse;
  width: fit-content;
  opacity: 0;
  padding-top: 1rem;
  gap: 2px;
}

.articleRowSide .trashIcon:hover,.editIcon:hover {
  cursor: pointer 
}

.articleRow:hover .articleRowSide {
  opacity: 100%;
}

.articleRowContent {
  width: 100%;  
}


