.container {
  max-width: 60rem;
  display: flex;
  flex-wrap: wrap-reverse;
  min-height: 80vh;
}

.writeArea {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.submitArea {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.submitArea button {
  padding: .5rem;
  font-size: 1rem;
}

.tagInputArea {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  min-width: 30rem;
}

.tagInputArea > div {
  width: 50%;
}

.tagInputArea input {
  width: 50%;
}

.tagInputArea input:focus {
  outline: none;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: .6rem;
}

.tagInput {
  border: hidden;
  border-bottom: 1px solid black;
  width: 100%;
}

.tagItem {
  padding: .2rem;
  border-style: solid;
  border-radius: .6rem;
  background-color: blue;
  border-color: transparent;
  color: white;
}

.editorArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 1rem;
  width: 100%;
  min-width: 40rem;
  min-height: 50vh;
}

.editorArea div {
  order: 1;
}

.textEditor {
  width: 100%;
}

.textEditor textarea {
  width: 100%;
  font-size: 1rem;
  font-style: inherit;
  height: 100%;
}

.textEditor textarea:focus {
  outline: none;
}

.liveRenderArea {
  width: 100%;
}

.liveRenderArea img {
  max-width: 50vw;
  height: auto;
}

.liveRenderArea p {
  overflow-wrap: break-word;
}

.fileListContiner {
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  padding: 6px;
  gap: .6rem;
}

.fileListContiner > div {
  display: flex;
  gap: .5rem;
  flex-direction: row;
  align-items: center;
}

.fileListContiner > div > img{
  height: 26px;
  width: auto;
}
